<section class="relative  lg:pb-32 overflow-hidden" style="background:linear-gradient(112.1deg, rgb(12 73 12) 11.4%, rgb(170 228 153) 70.2%)"><div class="container px-4 mx-auto">
  <div class="mx-auto lg:mx-0 py-9">
<img src="assets/bud.png"/>
    </div>
  </div>
  </div>
</section>