<section class="relative pb-24" style="background-image: url(https://images.unsplash.com/photo-1528535661949-5dac90a11fb0?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8emVufGVufDB8fDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60);
                                       background-repeat: no-repeat;
                                       object-fit: cover;
                                       background-size: cover;">
  <div class="relative pt-24">

    <div class="container px-4 mx-auto">
      <div class="flex items-center mb-24 sm:mb-40">

        <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>

      </div>
      <div class=" 3xl:max-w-2xl mx-auto lg:mx-0 xl:ml-24" style="    background: #ffffff38;
                                                                padding: 40px;
                                                                border-radius: 8px;">
        <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl mb-14">The Goal</h1>
        <p class="font-light mb-16 sm:mb-32">Our goal is to provide welcoming, tranquil place, for individuals to connect with nature, animals and other likeminded participance. Guided by knowledgeable, reputable practitioners instructing the group on healing methods that restores balance in the following; God Conscious, Cosmic Conscious, Emotionally, Biophysical, Mental Psyche and Spirituality.</p>
        <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#" style="background: linear-gradient(112.1deg, rgb(98 192 155) 11.4%, rgb(63 119 75) 70.2%);">Learn More</a>
      </div>
    </div>
  </div>
  <div class="container px-4 mx-auto mt-24 lg:mt-52"></div>
</section>