<section><nav class="relative px-6 sm:px-12 pt-4 shadow"><a class="absolute top-8 left-8 transform -translate-x-1/2 -translate-y-1/2 inline-block w-12 h-12" href="https://ascend.melle.io/">
  <img src="https://static.shuffle.dev/uploads/files/42/421e82afbfc2298749ff41a86ccea3a80281e5fb/ascend-Edited-1.png" alt="" width="48"></a>
  <div class="3xl:hidden pb-4">
    <button class="flex navbar-burger ml-auto items-center justify-center w-14 h-14 rounded-full bg-white hover:bg-gray-200">
      <svg width="20" height="9" viewBox="0 0 20 9" fill="black" xmlns="http://www.w3.org/2000/svg"><line x1="0.75" y1="1.25" x2="19.25" y2="1.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line><line x1="0.75" y1="8.25" x2="13.25" y2="8.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line></svg></button>
  </div>
  <div class="hidden 3xl:block">
    <div>
      <div class="flex relative">
        <div class=" ml-8 mr-auto">
          <div class="pt-5 border-t border-gray-100 border-opacity-10">
            <ul class="flex items-center justify-end">
          
              <li class="pb-6 mr-20"><a class="inline-block text-sm" href="/">Conscious Flavors</a></li>
            <li class="pb-6 mr-20"><a class="inline-block text-sm" href="#">Holistic
              Retreat</a></li>
              <li class="mr-6">
                <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
                  <span class="mr-4">Become a member</span>
                  <svg fill="black" width="12" height="7" viewBox="0 0 12 7" class="relative" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
                <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48 shadow"><li class="px-3 py-1 hover:bg-gray-200">
                <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/about-us-index/">About us</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/aprentice">Apprentice</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/water">Water</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/wind">Wind </a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/air">Air</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/earth">Earth</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/space">Space</a></li>
                </ul></li>
              <li class="mr-6">
                <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
                  <span class="mr-4">Holistic Storefront</span>
                  <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
                <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48 shadow">
                <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/storefront/books/">Books</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Herbs</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Cosmetics</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Crystals </a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Oral products</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Essential oils</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Body oils</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Hair Care Products</a>
                  </li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Skin care products</a>
                  </li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">All natural soaps</a>
                  </li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Tree of life tea's</a>
                  </li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Jewelry</a></li>
                </ul></li>

              <li class="mr-6">
                <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
                  <span class="mr-4">Affiliate Contractors</span>
                  <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
                <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48"><li class="px-3 py-1 hover:bg-gray-200"><a href="#">Sign up to become Affiliate</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Affiliate highlights</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">How it works</a></li>
                </ul></li>
              <li class="mr-6">
                <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
                  <span class="mr-4">Mantra Broadcasting</span>
                  <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
                <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48"><li class="px-3 py-1 hover:bg-gray-200"><a href="/mantra">Video</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Audio</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Audio book</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Podcast</a></li>
                </ul></li>
              <li class="mr-6">
                <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
                  <span class="mr-4">Members only Lounge</span>
                  <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
                <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48"><li class="px-3 py-1 hover:bg-gray-200"><a href="#">Cannabis variety</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Investment opportunities</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#"> Members Dashboard Analytics</a></li>
                  <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Grape vine message board (support group)</a></li>
                </ul></li>
              <li class="pb-6"><a class="inline-block text-sm" href="/about-us-index/">About us</a></li>


            </ul></div>
        </div>

      </div>
    </div>
  </div>
  </nav><div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 sm:max-w-xs z-50">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
  <nav class="relative flex flex-col pt-12 pb-40 h-full w-full bg-gray-200 overflow-y-auto"><div class="px-12">
    <div>
      <a class="inline-block mb-52" href="#">
        <img src="https://static.shuffle.dev/uploads/files/42/421e82afbfc2298749ff41a86ccea3a80281e5fb/ascend-Edited-1.png" alt="" width="auto"></a>
      <button type="button" aria-label="Close"></button>
    </div>
    <ul>
     <li class="pb-6"><a class="inline-block text-sm" href="/">Conscious Flavors</a></li>
    <li class="mr-6">
      <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
        <span class="mr-4">Become a member</span>
        <svg fill="black" width="12" height="7" viewBox="0 0 12 7" class="relative" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
      <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48 shadow">
      <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/about-us-index/">About us</a></li>
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/aprentice">Apprentice</a></li>
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/water">Water</a></li>
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/wind">Wind </a></li>
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/air">Air</a></li>
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/earth">Earth</a></li>
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/space">Space</a></li>
      </ul></li>
      <li class="mr-6">
        <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
          <span class="mr-4">Holistic Storefront</span>
          <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
        <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48 shadow">
        <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="/storefront/books/">Books</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Herbs</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Cosmetics</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Crystals </a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Oral products</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Essential oils</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Body oils</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Hair Care Products</a>
          </li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Skin care products</a>
          </li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">All natural soaps</a>
          </li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Tree of life tea's</a>
          </li>
          <li class="px-3 py-1 hover:bg-gray-200"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Jewelry</a></li>
        </ul></li>

      <li class="mr-6">
        <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
          <span class="mr-4">Affiliate Contractors</span>
          <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
        <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48"><li class="px-3 py-1 hover:bg-gray-200"><a href="#">Sign up to become Affiliate</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Affiliate highlights</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">How it works</a></li>
        </ul></li>
      <li class="mr-6">
        <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
          <span class="mr-4">Mantra Broadcasting</span>
          <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
        <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48"><li class="px-3 py-1 hover:bg-gray-200"><a href="mantra">Video</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Audio</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Audio book</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Podcast</a></li>
        </ul></li>
      <li class="mr-6">
        <a class="inline-flex items-center pb-5 pr-8 text-sm" href="#">
          <span class="mr-4">Members only Lounge</span>
          <svg width="12" height="7" viewBox="0 0 12 7" class="relative" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path></svg></a>
        <ul class="dropdown-content z-10 hidden absolute bg-white py-2 rounded shadow-lg text-gray-800 w-48"><li class="px-3 py-1 hover:bg-gray-200"><a href="#">Cannabis variety</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Investment opportunities</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Members Dashboard Analytics</a></li>
          <li class="px-3 py-1 hover:bg-gray-200"><a href="#">Grape vine message board (support group)</a></li>
        </ul></li>


      <li><a class="inline-block" href="#">About us</a></li>
    </ul></div>
  </nav></div>
</section>