<section>
  <nav class="relative px-10 py-5 shadow">
    <a class="absolute top-8 left-8 transform -translate-x-1/2 -translate-y-1/2 inline-block w-12 h-12" href="#">
      <img src="/assets/ascend-logo-small.png" alt="" width="48"></a>
    <div class="flex w-full">
      <button class="3xl:hidden flex navbar-burger ml-auto items-center justify-center w-14 h-14 rounded-full bg-gray-100 hover:bg-gray-200">
        <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="0.75" y1="1.25" x2="19.25" y2="1.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line>
          <line x1="0.75" y1="8.25" x2="13.25" y2="8.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line>
        </svg>
      </button>
      <ul class="hidden 3xl:flex mr-auto items-center ml-10">
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Store Front Budlogic</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Phresh Express</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Healing Tea</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Flow Chart </a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Ascend Society</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">General Contracting</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Business Alliance</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Sales Representative Phresh Executive</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Holistic Service</a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Mantra Broadcasting </a>
        </li>
        <li class="mr-14">
          <a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Membership </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 sm:max-w-xs z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
    <nav class="relative flex flex-col pt-12 pb-40 h-full w-full bg-gray-200 overflow-y-auto">
      <div class="px-12">
        <div>

          <button type="button" aria-label="Close"></button>
        </div>
      </div>
    </nav>
  </div>
</section>

<section>
  <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 sm:max-w-xs z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
    <nav class="relative flex flex-col pt-12 pb-40 h-full w-full bg-gray-200 overflow-y-auto">
      <div class="px-12">
        <div>
          <a class="inline-block mb-52" href="#">
            <img src="/assets/ascend-logo-small.png" alt="" width="auto">
          </a>
          <button type="button" aria-label="Close"></button>
        </div>
        <ul>

          <li class="mb-6">
            <a class="inline-block" href="#">Store Front Budlogic</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Phresh Express</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Healing Tea</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Flow Chart </a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Ascend Society</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">General Contracting</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Business Alliance</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Sales Representative Phresh Executive</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Holistic Service</a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Mantra Broadcasting </a>
          </li>
          <li class="mb-6">
            <a class="inline-block" href="#">Membership </a>
          </li>
        </ul>
      </div>
    </nav>

    </div>
  </div>
</section>