<section class="hero2">
  <div class="hero2-content">
    <h1 class="hero2-title">Location</h1>
    <p class="hero2-text">Real estate</p>
    <p class="hero2-text">Stage of activity</p>
    <p class="hero2-text">Who owns the license</p>
    <p class="hero2-text">What he is looking for</p>
    <a href="#" class="hero2-button">Add an item</a>
  </div>
  <div class="hero2-images">
    <img src="../../assets/images/healing/img1.png" alt="Placeholder 1">
    <img src="../../assets/images/healing/img2.jpeg" alt="Placeholder 2">
    <img src="../../assets/images/healing/img3.jpeg" alt="Placeholder 3">
  </div>
</section>
