<section class="supplies">
    <img src="../../assets/images/healing/img1.png" class="supplies-img1" alt="Placeholder 1">
  <div class="supplies-content">
    <p class="supplies-text">Location</p>
    <p class="supplies-text">Real estate</p>
    <p class="supplies-text">Stage of activity</p>
    <p class="supplies-text">Who owns the license</p>
    <p class="supplies-text">What he is looking for</p>
  </div>
  <div class="supplies-images">
    <img src="../../assets/images/healing/img2.jpeg" alt="Placeholder 2">
    <img src="../../assets/images/healing/img3.jpeg" alt="Placeholder 3">
  </div>
</section>
