@import "tailwindcss/base";
@import "./styles/base.pcss";

@import "tailwindcss/components";
@import "./styles/components.pcss";
@import "./styles/supplies.pcss";
@import "./styles/flavors.pcss";
@import "./styles/mantra.pcss";
@import "tailwindcss/utilities";
@import "./styles/utilities.pcss";
@import "./styles/register.pcss";