<section class="relative bg-gray-900 pb-4" style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);"><div class="relative pt-24">
  <div class="hidden lg:block absolute top-0 right-0 w-1/2 pt-24 xl:pt-14">
    <img class="block max-h-192 m-auto" style="border-radius: 50px;" src="https://static.shuffle.dev/uploads/files/42/421e82afbfc2298749ff41a86ccea3a80281e5fb/Screenshot-at-Mar-29-18-16-49.png" alt=""></div>
  <div class="container px-4 mx-auto">

    <div class="max-w-md 3xl:max-w-2xl mx-auto lg:mx-0 xl:ml-24">
      <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl mb-14">About Us</h1>
      <p class="max-w-sm font-light ">Righteous spirits unified by Divine purpose to restore Harmony and balance within the conscious continuum. </p>
      <br><br><p class="max-w-sm font-light ">
      We offer ancient teachings to the general public to awaken knowledge of self, encourage the pursuit of their Divine purpose &amp; provide various practices dealing with degrees of understanding. </p> <p class="max-w-sm font-light  mb-16 sm:mb-32">Along with complementary products &amp; services</p>
      <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Learn More</a>
    </div>
  </div>
  <div class="lg:hidden mt-24">
    <img class="block m-auto max-h-192" style="border-radius: 50px;" src="https://static.shuffle.dev/uploads/files/42/421e82afbfc2298749ff41a86ccea3a80281e5fb/Screenshot-at-Mar-29-18-16-49.png" alt=""></div>
  </div>
  <div class="container px-4 mx-auto mt-24 lg:mt-52">

  </div>
</section>