<section class="relative pb-24 md:pb-52 bg-white overflow-hidden" style="background-image:url('https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1074&amp;q=80'); background-repeat:no-repeat; background-size:cover;">
    <div class="container px-4 mx-auto">
        <div class="pt-6 sm:pt-10">
            <h1 class="text-6xl xl:text-8xl 3xl:text-9xl text-black font-medium">
                <span class="block leading-none mt-4">Air Membership</span>
                <span class="block leading-none">$200 Monthly</span>
                <span class="relative inline-block">

                    <div class="hidden lg:block absolute bottom-0 left-0 w-full h-px mb-1 xl:mb-3 3xl:mb-4 bg-gray-400"></div>
                </span>
            </h1>
            <div class="centered" style="background: #ffffff29;
                                 padding: 16px;
                                 border-radius: 8px;">
                <p class="text-3xl font-bold mb-4"> 1. Weekly Yoga Classes</p>
                <p class="text-3xl font-bold mb-4"> 2. Weekly Medidation Classes</p>
                <p class="text-3xl font-bold mb-4"> 3. Monthly Sweat Lodge Detox</p>
                <p class="text-3xl font-bold mb-4"> 4. Monthly Vision Board Evaluation</p>
                <p class="text-3xl font-bold mb-4">5. Grassroots Cooperative Partnership</p>
                <p class="text-3xl font-bold mb-4"> 6. 10% Discount on Products and Afflictes Services</p>
                <p class="text-3xl font-bold mb-4"> 7. Weekly Animal Nurturing</p>
                <p class="text-3xl font-bold mb-4"> 8. Monthly Farming Class</p>
                <p class="text-3xl font-bold"> 9. Self Defense Class</p>

            </div>
            <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250; mt-6" href="#">Join Now</a>
        </div>
         {% include "../../about-submenu.njk" %}
    </div>
</section>