<section class="py-24 md:py-32 bg-gray-100 overflow-hidden">
<div class="container px-4 mx-auto">

  <div class=" mx-auto text-center mb-32">
    <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl" contenteditable="false">Entry Level Apprentice Membership.</h1>
    <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl" contenteditable="false">
      $12 Monthly</h1>
  </div>
  <div class="relative mb-24 lg:mb-64">
    <div class="flex flex-wrap -mx-4 relative z-10">
      <div class="w-full 2xl:w-1/3 px-4 mb-10">
        <div class="max-w-md mx-auto relative">
          <div class="absolute top-0 left-0 -mt-2 w-full">
            <div class="mx-5 rounded-t-xl h-4 bg-gray-200"></div>
          </div>
          <div class="py-12 px-8 sm:p-12 bg-white rounded-xl relative">
            <div class="sm:flex mb-8">
              <div class="flex-shrink-0 flex items-center justify-center w-24 h-24 rounded-full bg-white border border-gray-200">
                <div class="flex items-center justify-center w-18 h-18 rounded-full bg-gray-100">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-green-900 text-white">1</div>
                </div>
              </div>
              <div class="mt-6 ml-6">
                <h6 class="text-2xl mb-4">One Weekly Yoga Classes</h6>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full 2xl:w-1/3 px-4 mb-10">
        <div class="max-w-md mx-auto relative">
          <div class="absolute top-0 left-0 -mt-2 w-full">
            <div class="mx-5 rounded-t-xl h-4 bg-gray-200"></div>
          </div>
          <div class="py-12 px-8 sm:p-12 bg-white rounded-xl relative">
            <div class="sm:flex mb-8">
              <div class="flex-shrink-0 flex items-center justify-center w-24 h-24 rounded-full bg-white border border-gray-200">
                <div class="flex items-center justify-center w-18 h-18 rounded-full bg-gray-100">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-green-900 text-white">2</div>
                </div>
              </div>
              <div class="mt-6 ml-6">
                <h6 class="text-2xl mb-4"> Petition to Become Full Member</h6>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full 2xl:w-1/3 px-4">
        <div class="max-w-md mx-auto relative">
          <div class="absolute top-0 left-0 -mt-2 w-full">
            <div class="mx-5 rounded-t-xl h-4 bg-gray-200"></div>
          </div>
          <div class="py-12 px-8 sm:p-12 bg-white rounded-xl relative">
            <div class="sm:flex mb-8">
              <div class="flex-shrink-0 flex items-center justify-center w-24 h-24 rounded-full bg-white border border-gray-200">
                <div class="flex items-center justify-center w-18 h-18 rounded-full bg-gray-100">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-green-900 text-white">3</div>
                </div>
              </div>
              <div class="mt-6 ml-6">
                <h6 class="text-2xl mb-4">Access to the Members Only Lounge</h6>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
           <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250; mt-6" href="/membership/apprentice">Join Now</a>
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2">
      <svg width="794" height="399" viewBox="0 0 794 399" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.37" d="M1.00003 0.732505C1.00002 220.075 178.295 397.888 397 397.888C615.705 397.888 793 220.076 793 0.732574" stroke="#CBC2C2"></path></svg></div>
  </div>
       
  <div class="sm:flex"></div>
  <div style="background: #000000bf;">
   {% include "../../about-submenu.njk" %}
   </div>
  </div>
</section>