<section class="pt-24 md:pt-40 overflow-hidden" style="background: linear-gradient(357deg, rgb(192 195 194) 11.4%, rgb(232 221 193) 70.2%);"><div class="container px-4 mx-auto mb-24 xl:mb-52">
  <div class="flex items-center mb-6">

    <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>

  </div>
  <div class="flex flex-wrap items-center -mx-4">
    <div class="w-full px-4 mb-8 xl:mb-0">
      <div>
        <h1 class="font-heading text-5xl sm:text-6xl mb-10">Sweat Lodge Detox</h1>
        <p class="max-w-4xl">Purpose is a religious and spiritual purification of the body, mind and soul. It is a blessed union between the elements, trees, stones, fire and air.
          Benefits
          The ceremonies are used to cleanse, heal, give thanks, celebrate, mourn, relax your body and mind, helping you to decompress and unwind while seeking wisdom and counsel from your ancestor.</p>
      </div>
    </div>
    <div class="w-full xl:w-1/2 px-4">

    </div>
  </div>
  </div>
  <div class="px-4 max-w-8xl mx-auto">
    <div class="flex flex-wrap items-center justify-between -mx-4">
      <div class="w-full lg:w-2/3 px-4">
        <img class="block mx-auto" src="https://static.shuffle.dev/uploads/files/42/421e82afbfc2298749ff41a86ccea3a80281e5fb/Screenshot-20230222-093956-2.png" alt=""></div>
      <div class="w-full lg:w-1/3 px-4">
        <img class="block ml-auto" src="https://images.unsplash.com/photo-1563606618307-9549e58243ad?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMzIzMzB8MHwxfHNlYXJjaHwzMnx8aG9yc2UlMjBiYWNrJTIwcmlkaW5nfGVufDB8fHx8MTY3OTE2NjU1Ng&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1920" alt=""></div>
    </div>
    <div class="container px-4 mx-auto">
      <div class="relative max-w-4xl ml-auto -mt-32 pt-12 md:pt-20 pb-20 md:pb-40 px-6 sm:px-12 md:px-20 bg-white" style="background: #e0d8cec2;">
        <h1 class="font-heading text-4xl sm:text-5xl md:text-6xl mb-10">Horse Back Riding</h1>
        <p class="max-w-md mb-16">Connect with our mother Nature</p>
        <a class="inline-block w-full sm:w-auto px-4 md:px-12 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Discover Now</a>
      </div>
    </div>
  </div>
  <div class="ml-10 py-12 md:py-20 bg-gray-900 relative">
    <div class="absolute top-0 left-0 bottom-0 h-full ml-6 md:ml-20 w-px bg-gray-600"></div>
  </div>
</section>