<section class="relative pb-24">
  <div class="relative pt-24">
    <div class="hidden lg:block absolute top-0 right-0 w-1/2 pt-24 xl:pt-14">
      <img class="block ml-auto max-h-192" src="https://images.unsplash.com/photo-1571112058133-056102737cd2?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMzIzMzB8MHwxfHNlYXJjaHw4Nnx8bWVudGFsJTIwaGVhbHRoJTIweW9nYXxlbnwwfHx8fDE2Nzg5MDY2MjE&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1920" alt="">
    </div>
    <div class="container px-4 mx-auto">
      <div class="flex items-center mb-24 sm:mb-40">

        <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>

      </div>
      <div class="max-w-md 3xl:max-w-2xl mx-auto lg:mx-0 xl:ml-24">
        <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl mb-14">The Goal</h1>
        <p class="max-w-sm font-light mb-16 sm:mb-32">This is a fundraising event held every Saturday and Sunday at Ascend Society Institute

          385 Lebanon Rd Millville New Jersey 08332.&nbsp;

          Starting March 4 &amp; 5 2023</p>
        <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Learn More</a>
      </div>
    </div>
    <div class="lg:hidden mt-24">
      <img class="block ml-auto max-h-192" src="wrexa-assets/images/app-message-background-photo.png" alt="">
    </div>
  </div>
  <div class="container px-4 mx-auto mt-24 lg:mt-52">

  </div>
</section>