<section class="relative pt-32 lg:pb-32 overflow-hidden"><img class="hidden lg:block absolute top-0 right-0 h-full py-10 w-1/2 3xl:w-3/5 object-cover" src="/assets/livemusic.jpg" alt=""><div class="container px-4 mx-auto">
  <div class="max-w-md mx-auto lg:mx-0">
    <div class="flex items-center mb-6">
      <span class="font-heading text-xl text-white">07</span>
      <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
    </div>
    <h1 class="font-heading text-5xl sm:text-6xl 2xl:text-7xl mb-10" contenteditable="false">Live Music&nbsp;</h1>
    <p class="max-w-4xl"> Live Music. Sound is one of the tools of metaphysics.Your mind consciously tab into the frequency of the music you tune into and then your being vibrates reflect it.</p>


    <div>
      <form action="#" method="post">
        <div class="flex items-center justify-between pl-2 py-2 pr-2 bg-white rounded-lg">
          <button class="flex-shrink-0 inline-block px-6 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" type="submit">Learn More</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <img class="lg:hidden block w-full h-64 sm:h-96 mt-24 px-4 object-cover" src="/assets/livemusic.jpg" alt="">
  </section>