<section class="relative py-24 md:pt-32 bg-gray-900" style="    background-image: url(https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1170&amp;q=80); background-repeat: no-repeat;
                                                            background-size: cover;">
    <div class="container px-4 mx-auto relative">
        <div class="relative">

            <div class="text-center mb-32" style="background: #ffffff29;
                                          padding: 16px;
                                          border-radius: 8px;">
                <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl text-white">Entry Level</h1>
                <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl text-white">Water Membership</h1>
                <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl text-white">$100 Monthly</h1>
            </div>
            <div class="flex flex-wrap -mx-4 mb-24 md:mb-52">
                <div class="w-full md:w-1/2 2xl:w-1/4 px-4 mb-16 2xl:mb-0">
                    <div class="max-w-xs mx-auto pt-8 pb-14 px-12 bg-gray-800 rounded-xl" style="padding: 24px; background: #0000004d;">
                        <h4 class="text-3xl text-white mt-1 mb-8">Weekly Yoga Classes</h4>
                        <h4 class="text-3xl text-white mt-1 mb-8">Weekly Medidation Classes</h4>
                    </div>
                </div>
                <div class="w-full md:w-1/2 2xl:w-1/4 px-4 2xl:mt-52 mb-16 2xl:mb-0">
                    <div class="max-w-xs mx-auto pt-8 pb-14 px-12 bg-gray-800 rounded-xl" style="padding: 24px; background: #0000004d;">
                        <h4 class="text-3xl text-white mt-1 mb-8">Monthly Sweat Lodge Detox</h4>
                        <h4 class="text-3xl text-white mt-1 mb-8">Monthly Vision Board Evaluation</h4>
                    </div>
                </div>
                <div class="w-full md:w-1/2 2xl:w-1/4 px-4 2xl:mt-52 mb-16 md:mb-0">
                    <div class="max-w-xs mx-auto pt-8 pb-14 px-12 bg-gray-800 rounded-xl" style="padding: 24px; background: #0000004d;">
                        <h4 class="text-3xl text-white mt-1 mb-8">Grassroots Cooperative Partnership</h4>
                    </div>
                </div>
                <div class="w-full md:w-1/2 2xl:w-1/4 px-4">
                    <div class="max-w-xs mx-auto pt-8 pb-14 px-12 bg-gray-800 rounded-xl" style="padding: 24px; background: #0000004d;">
                        <h4 class="text-3xl text-white mt-1 mb-8"> 10% Discount on Products and Afflictes Services</h4>
                    </div>
                </div>
            </div>
        </div>
           <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250; font-body" href="https://form.jotform.com/230816160501141">Join Now</a>
         {% include "../../about-submenu.njk" %}
    </div>
</section>