<section class="bg-black" style="background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);"><div class="md:ml-10 pt-24 pb-40 md:pt-40 bg-gray-900" style="background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4">
      <div class="w-full lg:w-1/2 px-4 mb-24 lg:mb-0">
        <div class="max-w-md mx-auto">
          <h1 class="font-heading text-5xl sm:text-6xl text-white mb-8">What is The Event About?</h1>
          <p class="max-w-sm font-light text-xl text-white mb-8">Resurrecting ancient techniques of communicating with the director of the automaton within us, in order to gain access to the power, storehouse of information and the host of shaping factors of our lives</p>
          <p class="max-w-sm font-light text-xl text-white mb-8">Whether it's finding inner peace through meditation or connecting with nature through camping, we want to empower individuals to take an active role in their own healing and well-being. Ultimately, the goal is to create a community of like-minded individuals who are committed to living a balanced and fulfilling life.</p>

          <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#" style="background: linear-gradient(112.1deg, rgb(100 123 194) 11.4%, rgb(65 90 176) 70.2%);
                                          }">Discover Now</a>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <div class="max-w-md mx-auto relative">
          <img class="block mx-auto border-radius-12" src="https://images.unsplash.com/photo-1616699002805-0741e1e4a9c5?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMzIzMzB8MHwxfHNlYXJjaHw0NXx8eW9nYXxlbnwwfHx8fDE2Nzk0MzUwMzg&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1920" alt=""></div>
        <div class="max-w-md mx-auto relative mt-8">
          <img class="block mx-auto border-radius-12" src="https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=385&amp;q=80" alt=""></div>
      </div>

    </div>
  </div>
  </div>
</section>