<section class="bg-white">
  <div class="md:ml-10 pt-24 pb-40 md:pt-40 bg-gray-900">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-24 lg:mb-0">
          <div class="max-w-md mx-auto">
            <h1 class="font-heading text-5xl sm:text-6xl text-white mb-8">What is The Event About?</h1>
            <p class="max-w-sm font-light text-xl text-white mb-8">Resurrecting ancient techniques of communicating with the director of the automaton within us, in order to gain access to the power, storehouse of information and the host of shaping factors of our lives</p>

            <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Discover Now</a>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-md mx-auto relative">
            <img class="block mx-auto" src="https://images.unsplash.com/photo-1506126613408-eca07ce68773?crop=entropy&amp;cs=tinysrgb&amp;fm=jpg&amp;ixid=MnwzMzIzMzB8MHwxfHNlYXJjaHwxfHx5b2dhfGVufDB8fHx8MTY3ODkwNDM1OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1920" alt="">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>