<section class="relative pb-24 md:pb-52 bg-white overflow-hidden" style="background-image: url('https://images.unsplash.com/photo-1455763916899-e8b50eca9967?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80'); background-size: cover;"><div class="bg-gray-900">
  <div class="absolute top-0 left-1/2">
    <div class="w-px h-16 bg-white"></div>
    <div class="w-px h-24 bg-white"></div>
  </div>
  </div>
  <div class="container px-4 mx-auto">
    <div class="pt-40 sm:pt-64">
      <h1 class="text-6xl xl:text-8xl 3xl:text-9xl text-white font-medium mb-20">
        <span class="block leading-none text-white">Bring Your Own Tent</span>

        <span class="relative inline-block text-white">
          <span class="relative z-10 block leading-none">and Sleeping Bag</span>
          <div class="hidden lg:block absolute bottom-0 left-0 w-full h-px mb-1 xl:mb-3 3xl:mb-4 bg-gray-400"></div>
        </span>
      </h1>
      <div>
        <a class="block mb-20 items-center text-white" href="#">
          <span class="mr-4 mb-5">4-8-23 continuing first Sat &amp; Sun of the month</span>

          <div class="block">
            <h1 class="mr-4 mt-5">385 Lebanon Rd millville New Jersey</h1>
          </div>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"></svg></a>
      </div>
      <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Get Started</a>
    </div>
  </div>
</section>