<section class="pt-24 md:pt-32 overflow-hidden" style="    background-repeat: no-repeat;
                                                       background-size: cover;
                                                       background-image: url(https://images.unsplash.com/photo-1427434846691-47fc561d1179?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1470&amp;q=80);">
    <div class="container px-4 mx-auto">

        <div class="max-w-3xl mx-auto text-center mb-24">
            <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl" contenteditable="false">Wind Membership</h1>
            <h1 class="font-heading text-5xl sm:text-6xl md:text-7xl" contenteditable="false">$150 Monthly</h1>
        </div>
         
    </div>
    <div class="flex flex-wrap -mx-4  xl:h-192">

        <div class="w-full px-4 mb-16 xl:mb-0 pb-52 relative">
            <div class="container px-4 mx-auto grid md:grid-cols-2 p-3">

                <div class="m-2" style="background: #ffffff45;
                             padding: 16px;
                             border-radius: 16px;">
                    <div class="flex mb-8">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">1</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl" contenteditable="false">Weekly Yoga Classes</h6>

                        </div>
                    </div>
                    <div class="flex mb-8">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">2</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="false">Weekly Medidation Classes</h6>

                        </div>
                    </div>
                    <div class="flex mb-8">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">3</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="true">Monthly Sweat Lodge Detox</h6>

                        </div>
                    </div>

                    <div class="flex">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">4</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="false">Monthly Vision Board Evaluation</h6>

                        </div>
                    </div>

                </div>
                <div class="m-2" style="background: #ffffff45;
                             padding: 16px;
                             border-radius: 16px;">
                    <div class="flex mb-8">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">5</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="false">Grassroots Cooperative Partnership</h6>

                        </div>
                    </div>

                    <div class="flex mb-8">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">6</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="false"> 10% Discount on Products and Afflictes Services</h6>

                        </div>
                    </div>

                    <div class="flex mb-8">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">7</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="false"> Weekly Animal Nurturing</h6>

                        </div>
                    </div>

                    <div class="flex">
                        <div class="flex-shrink-0 flex items-center justify-center  rounded-full  border-gray-200">
                            <div class="flex items-center justify-center rounded-full bg-gray-100">
                                <div class="flex items-center justify-center w-12 h-12 rounded-full bg-indigo-500 text-white greenish" style="color: white">8</div>
                            </div>
                        </div>
                        <div class="ml-6">
                            <h6 class="text-2xl mb-4" contenteditable="false">Monthly Farming Class</h6>

                        </div>
                    </div>

                </div>
 
            </div>
            <div class="container mx-auto">
 <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250; font-body" href="https://form.jotform.com/230925387118157">Join Now</a>
            </div>
        </div>

    </div>
      <div class="container px-4 mx-auto pb-4">
      <div style="background: #000000bf;">
    {% include "../../about-submenu.njk" %}
    </div>
    </div>
</section>