<div class="flex p-8 gap-4 flex-wrap" style="flex-wrap: wrap" style="gap: 24px; padding: 40px;">
   {% for card in booksData %}
   <div class="mx-2 mb-4" >
      <div class="block rounded-lg" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);  box-sizing: border-box; border-radius: 8px;
         border-radius: 2px;
         background-clip: padding-box;">
         <a href="#!" data-te-ripple-init data-te-ripple-color="light">
         <img class="rounded-t-lg" style="border-radius: 8px 8px 0 0;" src="{{ card.imageSrc }}" alt="{{ card.title }}" />
         </a>
         <div class="p-6" style="padding: 16px;">
            <h5 class="mb-2 text-xl font-medium">{{ card.title }}</h5>
            <div class="mb-2">
               {{ card.price }}
            </div>
            <a href="#" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase" style="background: #1eb853; height: 44px; border-radius: 4px; display: flex;
               align-items: center;
               justify-content: center;">
            Buy Now
            </a>
         </div>
      </div>
   </div>
   {% endfor %}
</div>