<div class="flavors">
  <h2 class="flavors-title">Flavors of the Week</h2>
  <div class="image-section">
    <div class="image-day">
      <img src="../../assets/images/healing/mondy.jpg" alt="Monday">
      <span>Monday</span>
      <a href="/healing/monday" class="see-more-flavor">See More </a>
    </div>
    <div class="image-day">
      <img src="../../assets/images/healing/tuesday.jpg" alt="Tuesday">
      <span>Tuesday</span>
    </div>
    <div class="image-day">
      <img src="../../assets/images/healing/wednesday.jpg" alt="Wednesday">
      <span>Wednesday</span>
    </div>
    <div class="image-day">
      <img src="../../assets/images/healing/Thursday.jpg" alt="Thursday">
      <span>Thursday</span>
    </div>
    <div class="image-day">
      <img src="../../assets/images/healing/Friday.jpg" alt="Friday">
      <span>Friday</span>
    </div>
    <div class="image-day">
      <img src="../../assets/images/healing/Saturday.jpg" alt="Saturday">
      <span>Saturday</span>
    </div>
    <div class="image-day">
      <img src="../../assets/images/healing/Sunday.jpg" alt="Sunday">
      <span>Sunday</span>
    </div>
  </div>
</div>
