
  <section class="relative overflow-hidden canabis">
    <div class="flex flex-col">
      <div class="container px-4 mx-auto">
        <div class="w-full ml-auto">
          <div class="mx-auto" style="display: flex; flex-direction: column;">
            <h2 class="first-text4">Grand opening October</h2>
            <img src="../assets/images/canabis2.jpeg" class="canabis-img"/>
            <div class="images-grouped">
              <img src="../assets/images/canabis1.png" class="canabis-images"/>
              <img src="../assets/images/canabis2.png" class="canabis-images">
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </section>




