<section class="relative overflow-hidden">
    <div class="flex flex-col">
        <div class="container px-4 mx-auto">
            <div class="w-full pt-9 lg:pb-40 ml-auto">
                <div class="mx-auto" style="display: flex; flex-direction: column;">
                <h2 class="canabis-title">Grand opening October</h2>
                <img src="../assets/images/canabis2.jpeg" />
                <div style="display: grid; grid-template-columns: auto auto; gap:24px;">
                  <img src="../assets/images/canabis1.png" class="canabis-images"/>
                  <img src="../assets/images/canabis2.png" class="canabis-images">
                  
                  </div>
                </div>
               </div>
           </div>
        <div>
        </div>
    </div>
</section>