<section class="relative overflow-hidden">
    <div class="flex flex-col">
        <div class="container px-4 mx-auto">
            <div class="w-full pt-9 lg:pb-40 ml-auto">
                <div class="mx-auto" style="display: flex; flex-direction: column;">
                <h2 style="text-align: center; color: #B8965B; font-size: 50px;">Eclectic culinary fusion</h2>
                  <img src="../assets/images/ec.jpg" />
                </div>
               </div>
           </div>
        <div>
        </div>
    </div>
</section>