<section class="eclectic">
  <div class="container">
  <div class="container-inside2">
  
     <p class="first-text2">Eclectic culinary fusion</p>

        <div class="title-img2">
    <img src="../assets/images/menu/food1.png" alt="food Image">
     <img src="../assets/images/menu/food2.png" alt="food Image">
      <img src="../assets/images/menu/food3.png" alt="food Image">
       <img src="../assets/images/menu/food4.png" alt="food Image">
        <img src="../assets/images/menu/food5.png" alt="food Image">
         <img src="../assets/images/menu/food6.png" alt="food Image">
    </div>

      <div class="hero-content2">
   
       <div class="cta-buttons2">
        <a href="/eclectic" class="btn">Pick Up</a>
        <a href="/eclectic" class="btn">Dine In</a>
        <a href="/eclectic" class="btn">Delivery by Phresh Express</a>
      </div>
      </div>
    </div>

     
  </div>
</section>
