<section class="eclectic">
  <div class="container">
  <div class="container-inside2">
  
    <div class="hero-content">
      <p class="first-text">Eclectic culinary fusion</p>
       <div class="cta-buttons2">
        <a href="/eclectic" class="btn">Pick Up</a>
        <a href="/eclectic" class="btn">Dine In</a>
        <a href="/eclectic" class="btn">Delivery by Phresh Express</a>
      </div>
      </div>
        <div class="title-img">
    <img src="../assets/images/ec.jpg" alt="food Image">
    </div>
    </div>

     
  </div>
</section>
