<section class="relative overflow-hidden food">
    <div class="flex flex-col">
        <div class="container px-4 mx-auto">
            <div class="w-full pt-32 lg:pb-40 ml-auto" >
                <div class="mx-auto">

                    <form action="#" method="post">
                        <div class="txt-wrapper">
                            <h1> Food For Thought </h1>
                            <a href="/storefront/books/">See More </a>
                        </div>
                
                    </form>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</section>