<section class="hero">
  <div class="container">
  <div class="container-inside">
    <div class="title-img">
    <img src="../assets/images/alchool.png" alt="Bar Image">
     <h1 class="title-hero">Enjoy your favorite mix drink, wine, shoot or beer at our inhouse bar.</h1>
    </div>
    <div class="hero-content">
      <p class="first-text">Top shelf premium <span class="color-yellowish">Rum, Vodka, Tequila, Scotch, Cognac, and more mixed by passionate mixologists</span>.</p>
      <p class="second-text"> Imported and domestic beers available for pick up or delivery by <b>Phresh Express.</b></p>
      </div>
    </div>
      <div class="cta-buttons">
        <a href="/beers" class="btn">Phresh Express Delivery Services</a>
        <a href="#" class="btn">Take Out</a>
        <a href="#" class="btn">Reserve Your VIP Table</a>
      </div>
  </div>
</section>
