<div class="mt-10">
<div class="sm:flex " style="background: #ffffff29;
    padding: 16px;
    border-radius: 8px;"> 
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/about-us-index" data-config-id="text8">About Us</a>
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/aprentice" data-config-id="text8">Apprentice</a>
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/water" data-config-id="text8">Water</a>
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/air" data-config-id="text9">Air</a>
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/wind" data-config-id="text10">Wind</a>
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/earth" data-config-id="text11">Earth</a>
    <a class="inline-block w-full lg:w-auto text-sm  mr-14 text-white" href="/space" data-config-id="text11">Space</a>

</div>
</div>