{# This page is built with nunjucks! #}

{% set title = 'Ascend' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="">
      {% include "views/hero.njk" %}
      {% include "views/where.njk" %}
      {% include "views/what.njk" %}
      {% include "views/expect.njk" %}
      {% include "views/music.njk" %}
      {% include "views/sound.njk" %}
      {% include "views/massage.njk" %}
      {% include "views/budlogic.njk" %}
      {% include "views/fire.njk" %}
      {% include "views/goal.njk" %}
  </main>
{% endblock %}
